<li class="list__list-item">
    <h1> <%= product.title %> </h1>
    <h3> <%= product.price %> €</h3>
    <a href="/admin/products/<%= product._id %>/edit">Edit</a>
    <a href="/admin/products/<%= product._id %>/delete">Delete</a>
</li>