<%- include("includes/head.ejs") %>
</head>
<body>
    <%- include("includes/navbar.ejs") %>
    <div>
    <h1><%= error.message %></h1>
    <a href="/products">Go Back To Shopping</a>
    </div>
</body>
</html>